@font-face {
    font-family: 'Montserrat Black';
    src: url('fonts/Montserrat-Black.otf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/OpenSans-Light.ttf');
    font-weight: 100;
}

body {
  font-family: 'Open Sans Regular', serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #fff;
}

.book-chapter,
.book-nav {
  width: 780px;
  margin: auto;
  text-align: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.book-chapter header {
  text-align: center;

  position: relative;
  padding-top: 60px;
}

.book-chapter h1 {
  font-size: 40px;
}

.book-chapter h2 {
  font-size: 21px;
  text-transform: uppercase;
  color: #262739;
}

.book-chapter footer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

.book-chapter p {
  margin: 0;
}

.book-chapter p,
.book-chapter ul li,
.book-chapter ol li {
  font-size: 16px;
  line-height: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #32373a;
}

.book-chapter ul li {
  margin-bottom: 8px;
  color: #32373a;
  padding: 0;
}

.book-chapter a {
  color: #ff472b;
  text-decoration: none;
}

.book-chapter a:visited {
  color: #db4028;
}

.book-chapter a:hover {
  text-decoration: underline;
}

.book-chapter pre code {
  font-size: 13px;
}

.book-chapter blockquote {
  color: #87949c;
  border-left: 2px solid #778289;
  padding-left: 20px;
}

.highlight {
  background-color: #dce6ed;
}

.book-chapter .chapter-end-info {
  border: 2px solid #e5e5e5;
  color: #e5e5e5;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px;
  text-align: center;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans Regular", serif;
}

.book-chapter .chapter-info {
  font-family: "Open Sans Regular", serif;
  border: 2px solid #ff472b;
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  color: #ff472b;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 168px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image {
  text-align: center;
  margin: 0;
  padding: 5px;
  width: 100%;
  border: 1px solid #e5e5e5;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image img {
  max-width: 100%;
}

.book-chapter-menu {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 30px
}

.book-chapter-menu a {
  color: #ff472b;
  text-decoration: none
}

.book-chapter-menu__item {
  margin-bottom: 50px;

}

.book-chapter-menu__item .chapter-number {
  display: block;
}

.book-chapter-menu a:hover {
  text-decoration: underline;
}

.go-to-toc {
  position: fixed;
  top: 0;
  left: 0;
}

.follow-me {
  position: fixed;
  top: 80px;
  left: 5px;
}

/* main page */

.group {
  max-width: 780px;
  padding: 10px;
  margin: auto;
    -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  background-image: url(../img/book1.png);
  background-repeat: no-repeat;
  min-height: 900px;
  background-position: center 93%;
  text-align: center;
  padding-top: 80px;
  background-size: auto 55%;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  }

.page-header h1 {
  margin: 0;
  color: #000;
  font-size: 32px;
  display: inline-block;
  font-family: "Open Sans Light", serif;
}

.page-header .author-name a {
  font-family: "Montserrat Black";
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

.page-header .get-book {
  background-color: #00c490;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  border-radius: 5px;
}

.page-header .available-formats {
  font-weight: 100;
  font-family: "Open Sans Regular", serif;
  font-size: 12px;
}

.book-details {
  background-color: transparent;
  min-height: 1000px;
  padding-top: 40px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
  z-index: 11;
}

.book-details .book-bgr {
  background-image: url(../img/book2.png);
  background-repeat: no-repeat;
  background-size: 880px;
  width: 800px;
  height: 876px;
  position: absolute;
  right: 0;
  top: 263px;
  background-position: 6px 0%;
}

.book-details h1 {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat Black", serif;
  font-weight: normal;
  margin: 40px 0;
}

.toc-details {
  padding-right: 32%;
}


.toc {
  color: #00c490;
  list-style-position: outside;
  padding-left: 21px;
}

.toc-details .lead {
  color: #32373a;
}

.toc-details .lead a {
  text-decoration: none;
  color: #32373a;
  font-size: 16px;
  border-bottom: 1px solid #c2c2c2;
}

.toc-details .lead a:hover {
  border-bottom: 1px solid #32373a;
}

.toc__item {
  color: #00c490;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 24px;
  padding-left: 0;
}

.toc__item__anchor {
  color: #32373a;
  font-size: 16px;
  border-bottom: 1px solid #c2c2c2;
  font-weight: normal;
  text-decoration: none;
}

.toc__item__anchor:hover {
  text-decoration: none;
  border-bottom: 1px solid #32373a;
}

.testimonial {
  background-color: #00c490;
  min-height: 280px;
  padding-top: 150px;
  background-position: 40% 70%;
  margin-top: -170px;
  position: relative;
}

.testimonial h1 {
  display: none;
}

.slider {
  max-width: 600px;
  margin: auto;
    -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.testimonial blockquote {
  color: #fff;
  display: block;
  margin: 0;
  text-align: center;
}

.testimonial blockquote q {
  font-size: 21px;
  font-family: "Open Sans Regular", serif;
  display: block;
  padding-bottom: 40px;
  line-height: 27px;
}

.testimonial blockquote cite {
  font-style: normal;
}

.testimonial blockquote cite a {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.pdf {
  background-color: #00c490;
  min-height: 400px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  margin-top: -200px;
}

.pdf h1 {
  font-family: "Open Sans Light";
  color: #fff;
  font-size: 36px;
  margin-bottom: 48px;
  font-weight: 100;
}

.pdf .promo-text {
  color: #fff;
  max-width: 500px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 48px;
  line-height: 30px;
}

.author {
  background-image: url(../img/author.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  height: 600px;
  box-sizing: border-box;
  overflow: hidden;
  padding-right: 70px;
}

.bio {
  float: right;
  width: 40%;
  max-width: 400px;
  display: table;
  height: 600px;
}

.bio-content {
  display: table-cell;
  vertical-align: middle;
}

.bio h1 {
  color: white;
  font-size: 27px;
  text-align: left;
  font-family: "Open Sans Light", serif;

}

.bio p {
  color: #fff;
  line-height: 30px;
}

.bio p a {
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #c2c2c2;
  text-decoration: none;
}

.bio p a:hover {
  border-bottom: 1px solid #00c490;
}

.bio img {
  position: absolute;
  right: 0;
  top: 20px;
}

.facebook {
  position: relative;
  min-height: 400px;
  padding-top: 64px;
}



#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; }
#mc_embed_signup input.email {
  width: 280px;
  display: inline-block;
  height: 52px;
  border-radius: 0;
  -webkit-appearance: none;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 30px;
  margin-right: 0;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  border-radius: 5px;
  padding-left: 10px;
}

#mc_embed_signup input.email::-webkit-input-placeholder {
   color: white;
}

#mc_embed_signup input.email:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

#mc_embed_signup input.email::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

#mc_embed_signup input.email:-ms-input-placeholder {  
   color: white;  
}
#mc_embed_signup form {
  text-align: center;
}
#mc_embed_signup input.button {
  display: inline-block;
  max-width: 100px;
  background-color: #fff;
  color: #00c490;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-appearance: none;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans Regular", serif;
  font-size: 16px;
  font-weight: 100;
  margin-left: 10px;
  vertical-align: top;
}

.facebook .fb_iframe_widget {
  width: 500px !important;
  margin: auto !important;
  display: block !important;
}


@media screen and (max-width: 64em) {
  .book-details .book-bgr {
    background-size: 800px;
    background-position: 155px 70px;
  }

  .follow-me {
    right: 0;
    position: absolute;
    top: 50px;
  }

  .author {
    padding-top: 0;
    padding-right: 30px;
  }
  .bio p {
    line-height: 27px;
    font-size: 14px;
  }

  .bio p a {
    font-size: 14px;
  }

  .toc-details {
    padding-right: 0;
  }
}

@media screen and (max-width: 48em) {
  .book-chapter,
  .book-nav {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .book-details .book-bgr {
    background-image: none;
  }
  .book-details {
    padding-bottom: 0;
  }

  .pdf {
    margin-top: 0;
  }
}

@media screen and (max-width: 47.938em) {
  .author {
    background: none;
  }
  .bio {
    padding-right: 0;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .bio h1 {
    text-align: center;
    color: #000;
  }

  .bio p {
    color: #000;
  }

  .bio p a {
    color: #000;
  }
}

@media screen and (max-width: 30em) {
    .testimonial {
    margin-top: -140px;
    padding-top: 150px;
    padding-bottom: 25px;
  }
  .follow-me {
    position: static;
    margin-bottom: 20px;
    text-align: center;
  }
  .book-chapter,
  .book-nav {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .slider {
    width: 300px;
  }

  .testimonial blockquote {
    width: 100%;
  }

  .testimonial blockquote q {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .slick-dots {
    bottom: -50px;
  }

  .group {
    max-width: 100%;
  }

  .page-header {
    min-height: 500px;
    padding-top: 40px;
    background-size: 50%;
    background-position: center bottom !important;
  }

  .toc {
    list-style-position: inside;
    padding-left: 0;
  }

  .book-details {
    background-image: none;
  }

  .toc-details {
    padding-right: 0;
  }

  .pdf {
    background-size: 185px;
    background-position: 50% 601px;
  }

  .facebook {
    display: none;
  }
}

